
@{
    ViewData["Title"] = "List";
    Product product1 = ViewBag.product1 as Product;
    Product product2 = ViewBag.product2 as Product;
    Product product3 = ViewBag.product3 as Product;
}

<h1>List</h1>
<br />
<h2>@product1.Id => @product1.Name => @product1.Price</h2>
<h2>@product2.Id => @product2.Name => @product2.Price</h2>
<h2>@product3.Id => @product3.Name => @product3.Price</h2>
